<!-- Google Dynamic Remarketing -->
{% comment %} Enter your account specific value below {% endcomment %}
{% assign google_conversion_id = 0 %}
{% assign google_conversion_label = "abcdefghijklmnop" %}
{% assign google_conversion_currency = "USD" %}
{% assign shopify_store_country = "USD" %}


<script type="text/javascript">
var google_tag_params = {
  ecomm_prodid: [{% for item in order.line_items %}'shopify_CA_{{ item.product.id }}_{{ item.variant.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
  ecomm_pagetype: 'purchase',
  ecomm_totalvalue: {{ total_price | money_without_currency | remove: ',' }}
};
</script>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1012711092;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1012711092/?guid=ON&amp;script=0"/>
</div>
</noscript>
